{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'ES2/login_style.css' %}" />
</head>
<body>
    <div class="top-bar">CronicOff</div>
    <div class="container">
        <h2>Entrar</h2>
        {% if form.errors %}
            <div class="error-message">Usuário ou senha inválidos.</div>
        {% endif %}
        <form method="post" action="{% url 'ES2:login' %}">
            {% csrf_token %}
            {{form}}

            <button type="submit" class="button">Entrar</button>
        </form>
        <div class="register-link">
            Não tem uma conta? <a href="{% url 'ES2:register' %}">Registre-se</a>
        </div>
    </div>
</body>
</html>
